:root {
    --dark-blue: hsla(233, 49%, 7%, 1);
    --dark-purple: hsla(246, 38%, 16%, 1);
    --purple: hsla(277, 64%, 61%, 1);
    --white: hsla(0, 0%, 100%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: initial;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* utilities */ 
 
/*background*/

.main-bg {background: var(--dark-blue);}
.card-bg {background: var(--dark-purple);}

/*text */

.text-white {color: var(--white);}
.text-purple {color: var(--purple);}


/* main style */

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1110px;
    max-height: 446px;
    border-radius: 8px;
}


/* text side */


.text-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    max-width: 570px;
}

.main-title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    width: 70%;
    margin-bottom: 25px;

}

.main-p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    opacity: 0.75;
    margin-bottom: 72px;
    margin-left: -40px;
    width: 60%;
}

.numbers-container {
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 351px; /* temp */
    margin-left: -40px;
}

.numb {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.type {
    font-family: "Lexend Deca";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    letter-spacing: 1px;
    opacity: 0.6;
}

/* image side */

.image-side {
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 446px;
    position: relative;  
    z-index: 8;
}

.mask {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: hsla(277, 64%, 61%, 1);
    z-index: 10;
    mix-blend-mode: multiply;
    border-radius: 0 8px 8px 0;
    width: 540px;
    height: 446px;

}

.image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    mix-blend-mode: multiply;
    opacity: 0.75;
    border-radius: 0 8px 8px 0;
}

.image-mobile {display: none;}

@media screen and (max-width: 870px) {
    .image {display: none;}

    .image-side {
        width: 100%;
        height: 240px;
        border-radius: 8px 8px 0 0;

    }

    .mask {
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;

    }

    .image-mobile {
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        opacity: 0.75;
        border-radius: 8px 8px 0 0;

    }
    
    .main-card {
        flex-direction: column-reverse;
        width: 327px;
        max-height: 780px;
        padding-bottom: 32px;
    }
    
    .text-side {
        width: 100%;
    }
    
    .main-title {
        font-size: 28px;
        width: 264px;
        text-align: center;
        margin-bottom: 16px;
        margin-top: 40px;
    }

    .main-p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        width: 264px;
    }

    .numbers-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 100%;
        row-gap: 24px;
        margin-bottom: 32px;
    }
}